.container__navbar-user-account{
    position: relative;
    .navbar-user-account__notification {
        cursor: pointer;
        width: 0.9375rem;
        height: 1.14256rem;
        display: inline-block;
        background: url('../../icons/notification.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-style: none;
    }

    .navbar-user-account__language{
        cursor: pointer;
        width: 1.1875rem;
        height: 1.1875rem;
        display: inline-block;
        background: url('../../icons/english.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-style: none;
    }
    
    .navbar-user-account__languages-dropdown-card{
        display: none;
        position: absolute;
        top: 3.28rem;
        left: 2.6rem;
        .languages-dropdown-card__menu-hiden-hover-area{
            display: inline-block;
            position: absolute;
            top: -3rem;
            left: 0;
            display: inline-block;
            height: 3.3rem;
            width: 3rem;
        }
        @import 'languagesCard';
    }
    
    .navbar-user-account__languages-dropdown-card--down{
        display: block;
        .languages-dropdown-card__menu-hiden-hover-area{
            display: inline-block;
        }
    }
    
    .navbar-user-account__profile-miniature:hover{
        .profile__menu{
            display: block;
        }
    }
    .navbar-user-account__profile-miniature{
        @import 'pofileMiniature';

        .profile-menu__hiden-hover-area{
            height: 3.3rem;
            width: 7rem;
            display: inline-block;
            position: absolute;
            top: 0rem;
        }

        .profile__menu{
            display: none;
            cursor: default;
            color: $text1-colour;
            position: absolute;
            top: 3.28rem;
            padding: 1rem 0.618rem 1rem 0.618rem;
            color: $text4-colour;
            font-size: $text-2;
            border-radius: $default-radius;
            background-color: $forground-colour;
            box-shadow: $card-shadow;
            
            .menu__personal-information{
            border-bottom: 1px solid #{$text4-colour}50;
            .personal-information__group{
                font-family: 'lato-bold';
                color: $text1-colour;
                font-size: $text-2;
                display: inline-block;
                margin-bottom: 0.5rem;
            }
            .personal-information__email{
                color: $text3-colour;
                display: inline-block;
                padding-bottom: 0.5rem;
            }
            }

            .menu__account-managment{
            .account-managment__settings{
                cursor: pointer;
                margin-top: 0.5rem;
                .settings__icon{
                cursor: pointer;
                width: 1rem;
                height: 1.001rem;
                display: inline-block;
                background: url('../../icons/settings.svg');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                border-style: none;
                }
                .settings__text{
                color: $text2-colour;
                font-size: $text-1;
                width: max-content;
                }
            }
            .account-managment__policies{
                cursor: pointer;
                margin-top: 0.5rem;
                padding-bottom: 0.5rem;
                .policies__icon{
                width: 1rem;
                height: 1.25rem;
                display: inline-block;
                background: url('../../icons/policies.svg');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                border-style: none;
                }
                .policies__text{
                color: $text2-colour;
                font-size: $text-1;
                width: max-content;
                }
            }
            }
            .menu__account-managment{
            border-bottom: 1px solid #{$text4-colour}50;
            font-family: 'lato';
            }
            .menu__logout{
                margin-top: 0.5rem;
                
                .logout__icon{
                    cursor: pointer;
                    width: 1rem;
                    height: 1.25rem;
                    display: inline-block;
                    background: url('../../icons/logout.svg');
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    border-style: none;
                }

                .logout__text{
                    cursor: pointer;
                    color: $text2-colour;
                    font-size: $text-1;
                    width: max-content;
                }
            }
        }
    }
}
