@use 'sass:list';

/**
* Navbar component style
**/
.body__navbar{
    box-shadow:$navbar-shadow;
    background-color: $forground-colour;
    align-items: center;
    padding: 0 6.075vw;

    /**
    * Navbar logo style
    **/
    .navbar__logo{
      width: 8.3rem;
      height: 2.45rem;
      background: url('../../logo.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-style: none;
    }
    
    /**
    * Navbar links component style
    **/
    @import  'navbarLinks';

    /**
    * Navbar user account component style
    **/
    .navbar__user-account{
      margin-left: auto;
    }
}