.container__profile-miniature{
    cursor: pointer;
    position: relative;
    .profile-miniature__pictue{
        width: 2rem;
        height: 2rem;
        display: inline-block;
        background: url('../../images/profile.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-style: none;
    }

    .profile-miniature__informations{
        display: inline-block;
        .informations__full-name{
            display: block;
            font-family: 'lato-semibold';
            font-size: $subtitle-2;
            color: $text2-color;
        }

        .informations__role{
            font-family: 'lato';
            display: block;
            font-size: $text-3;
            color: $text4-color;
        }
    }
    .profile-miniature__container{
        display: none;
        position: absolute;
        top: 3.28rem;
        left: 0;
        .container__hidden-hover-area{
            display: none;
            height: 1.4rem;
            width: 7rem;
            display: inline-block;
            position: absolute;
            top: -1.4rem;
        }
    }
    .profile-miniature__container--down{
        display: block;
        .container__hidden-hover-area{
            display: block;
        }
    }
}