.testComponents{
    height: calc(calc(100vh - 2.45rem) - 4rem);
    width: auto;
    border-radius: $default-radius;
    background-color: $forground-color;
    box-shadow: $card-shadow;
    margin-top: 1rem;
}

.ABC__editTraining{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    .editTraining__buttonSecondaryTypeText{
        margin-left: auto;
    }
}