.container__inputTextArea{
    .inputTextArea__area{
        height: 9.1rem;
        width: 100%;
        border-color: $text5-color;
        padding: 0.5rem;
        font-size: $text-2;
        color: $text1-color;
        &:focus{
            outline: none 
        }

    }

}