.main__editTraining{
    /**
     * Edit Training Page Header
     */
    .editTraining__header{
        width: 100%;
        .header__buttonSecondaryTypeText{
            margin-left: auto;
        }
    }

    .editTraining__editContent{
        .editContent__informations{
            @include default-card(auto, auto);
            padding: 1rem 1.5rem;
            //width: 10.25rem;
            & > *{
                //background-color: #f5f5f5;
                height: auto;
                border-radius: $default-radius;
            }
            .inoformations__category { 
                background-color: $forground-color;
                width: auto;
                .title__container > * {
                    vertical-align:middle;  // Align children to middle of line
                }
            }
            .inoformations__topic { 
                background-color: $forground-color;
                .title__container > * {
                    vertical-align:middle;  // Align children to middle of line
                }
            }
            .inoformations__valid-for { 
                background-color: $forground-color;
                .title__container > * {
                    vertical-align:middle;  // Align children to middle of line
                }
             }
        }
        .editContent__image-upload{
            @include default-card(auto, auto);
            padding: 1rem 1.5rem;
            //width: 10rem;
        }
        .editContent__trainingFile{
            @include default-card(auto, auto);
            padding: 1rem 1.5rem;
            //width: 1rem;
            .trainingFile__content{
                .container__file-upload{
                    //overide size
                    height: 10vw;
                    width: 10vw;
                    font-size: $text-4;
                    padding: 0.5rem;
                    
                    
                }
            }
        }
    }

    .editTraining__trainingQuizQuestions{
        @include default-card(40.125rem, auto) 
    }
    
    .editTraining__trainingQuizConfiguration{
        position: relative;
        
        
        [class^="trainingQuizConfiguration__"]{
            @include default-card(9.75rem, 12rem) 
            
        }
        [class$="arrow"]{
            position: absolute;
            height: 2rem;
            width: 2rem;
            padding: 1rem;
            border-radius: $default-radius;
            background: $forground-color;
            background-image: url('../../../icons/arrow.svg');
            background-size: 45% 45%;
            background-position: center;
            background-repeat: no-repeat;
            border-style: none;
            box-shadow: none;
            cursor: pointer;
        }
        .trainingQuizConfiguration__left-arrow{
            transform: rotate(90deg);
            left: -3rem;
            top: 4.875rem;
        }
        .trainingQuizConfiguration__right-arrow{
            transform: rotate(270deg);
            left: calc(100% + 2rem);
            top: 4.875rem;
        }

    }


}

