.main__editTraining{
    /**
     * Edit Training Page Header
     */
    .editTraining__header{
        width: 100%;
        .header__buttonSecondaryTypeText{
            margin-left: auto;
        }
    }

    .editTraining__editContent{
        .editContent__informations{
            @include default-card(19.4375rem, 33.25rem) 
        }
        .editContent__image{
            @include default-card(19.4375rem, 20.5625rem) 
        }
        .editContent__trainingFile{
            @include default-card(19.4375rem, 13.3125rem) 
           
        }

    }

    .editTraining__trainingQuizQuestions{
        @include default-card(40.125rem, auto) 
    }
    
    .editTraining__trainingQuizConfiguration{
        position: relative;
        
        [class^="trainingQuizConfiguration__"]{
            @include default-card(9.75rem, 12rem) 
            
        }
        [class$="arrow"]{
            position: absolute;
            height: 2rem;
            width: 2rem;
            padding: 1rem;
            border-radius: $default-radius;
            background: $forground-color;
            background-image: url('../../../icons/arrow.svg');
            background-size: 45% 45%;
            background-position: center;
            background-repeat: no-repeat;
            border-style: none;
            box-shadow: none;
            cursor: pointer;
        }
        .trainingQuizConfiguration__left-arrow{
            transform: rotate(90deg);
            left: -3rem;
            top: 4.875rem;
        }
        .trainingQuizConfiguration__right-arrow{
            transform: rotate(270deg);
            left: calc(100% + 2rem);
            top: 4.875rem;
        }

    }


}

