.container_languages-card{
    color: $text5-color;
    font-size: $text-2;
    border-radius: $default-radius;
    background-color: $forground-color;
    padding: 1rem;
    box-shadow: $card-shadow;
    [class$="--focus"] {
        color: $text1-color;
    }
    :hover{
        color: $text1-color;
        cursor: pointer;
    }
}

@each  $language in $languages {
    .languages-card__#{$language}{
        .#{$language}__icon{
        cursor: pointer;
        width: 1.1875rem;
        height: 1.1875rem;
        display: inline-block;
        background: url('../../../icons/'+$language+'.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-style: none;
    }
  }
}