/**
 *Navbar layout felxbox
 */
.body__navbar{
    display: flex;
    justify-content: flex-start;
}
.container__input-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container__navbar-user-account{
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1.69rem;
}

.container_languages-card{
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
}

@each  $language in $languages {
.languages-card__#{$language}{ 
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.container__profile-miniature{
    display: flex;
    align-items: flex-end;
    gap:0.31rem;
}

.account-managment__settings, .account-managment__policies, .profile-menu__logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
