// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/**
 *Coulours theming
 **/
$primary-color: #EB7421;
$secondary-color: #023770;
$background-color: #F8FAFD;
$forground-color: #FFFFFF;
$area-color: #F6F6F6;
$success-color: #47CA5B;
$error-color: #FF3838;
$selection-color: #2C8EFF;
$text1-color: #313131;
$text2-color: #616161;
$text3-color: #B6B6B6;
$text4-color: #C6C6C6;

/**
 *Font theming
 **/
$title: 1.125rem;
$subtitle-1: 0.938rem;
$text-1: 0.875rem;
$subtitle-2: 0.813rem;
$text-2: 0.75rem;
$text-3: 0.688rem;
$text-4: 0.625rem;

/**
 *Shadows
 **/
$navbar-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

/**
 *Shadows
 **/
 $default-radius: 5px;