// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/**
 *Coulours theming
 **/
$primary-color: #EB7421;
$secondary-color: #023770;
$background-color: #F8FAFD;
$forground-color: #FFFFFF;
$area-color: #F6F6F6;
$success-color: #47CA5B;
$error-color: #FF3838;
$selection-color: #2C8EFF;
$text1-color: #3D3D3D;
$text2-color: #616161;
$text3-color: #757575;
$text4-color: #B6B6B6;

/**
 *Font theming
 **/
$title: 1.125rem;
$subtitle-1: 0.938rem;
$button-text: 0.875rem;
$subtitle-2: 0.813rem;
$text-1: 0.75rem;
$text-2: 0.688rem;
$text-3: 0.625rem;