.container__button-add-new-type-text-icon{
    color: $selection-color;
    font-size: $text-2;
    display: inline-block;
    line-height: 0.9rem;
    font-family: "lato-semibold";
    cursor: pointer;
}