.container__butonPrimaryTypeFilled{
    height: 2.2rem;
    width: 9.1rem;
    font-size: $text-1;
    font-family: 'lato-bold';
    background-color: $primary-color;
    border-radius: $default-radius;
}
